
.comments.form.span-14

  %h4 Write your comment

  - @comment ||= Comment.new
  - form_for [@document, @comment] do |f|
    %p.author
      = f.text_field :author, :class => 'text span-7'
      = f.label :author, "Name (needed)"
    %p.email
      = f.text_field :email, :class => 'text span-7'
      = f.label :email, "Email (needed but not published)"
    %p.website
      = f.text_field :web, :class => 'text span-7'
      = f.label :web, "Website (if you have one)"

    %p.content
      = f.text_area :content, :class => 'span-14'
      %br
      %small
        HTML will be removed, but 
        %a{:href => "http://redcloth.org/hobix.com/textile/", :target => '_blank'} Textile formating
        is permitted.

    %p.actions
      %button{:type => "submit"}= "Post Comment"

  

