%article.comment.span-12{:id => "comment_#{comment.id}", :class => [(!comment.user.nil? ? 'highlighted' : nil), (comment.published? ? nil : 'notPublished')].compact.join(' ')}
  .commentBody
    %cite
      %span.date
        = comment.created_at.to_date
        - if current_user_is_admin?
          with IP:
          = comment.ip_address
          email:
          = comment.email
      = link_to_if !comment.web.blank?, h(comment.author), h(comment.web), :rel => 'external nofollow'
      says:
    %blockquote
      :textile
        #{h(comment.content)}
        
  = render :partial => 'comments/actions', :locals => {:comment => comment}

    

