.span-16.users.edit

  = error_messages_for :user

  .span-12
    = f.label :identity_url, "OpenID URL"
    %br
    = f.text_field :identity_url, :class => "span-12 title"

  .span-12
    = f.label :name, 'Your name'
    %br
    = f.text_field :name, :class => 'span-12 title'

  .span-12
    = f.label :email, 'Email Address'
    %br
    = f.text_field :email, :class => 'span-12 title'

  .span-12
    = f.label :web, 'Your Web Site'
    %br
    = f.text_field :web, :class => 'span-12 title'

  .span-12
    .span-6
      = label_tag 'password', "Password"
      %br
      = f.password_field :password, :class => 'span-6 title'

    .span-6.last
      = label_tag 'password_confirmation', 'Confirm Password'
      %br
      = f.password_field :password_confirmation, :class => 'span-6 title'

  .span-8
    %button{:type => 'submit'}= 'Save'


