
.span-14.blog.form
  %p.notice
    %strong IMPORTANT:
    The following fields will only be shown while editing the blog
    and in the Feed.
  .title.slugOrigin
    %h4 Name
    %p
      = f.text_field :title, :class => 'text'

  = render_partial_from_theme "documents/shared/slug_field", :locals => {:f => f, :document => document}

  .summary 
    %h4 Summary
    %p
      = f.text_area :summary, :class => 'markItUp'

  = form_revision_comment(f, document)

  %h3 Advanced Options
  .advancedOptions
    = form_advanced_options(f, document, :locale, :user)
    = form_revision_history(f, document)
