
.span-14.blog.form
  %p
    %strong IMPORTANT:
    The following fields will only be shown while editing the blog
    and in the Feed.
  %p
    = f.label :title, 'Title'
    %br
    = f.text_field :title, :class => 'text'

  %p
    = f.label :summary
    %br
    = f.text_area :summary, :class => 'markItUp'

  %h3 Advanced Options

  .advancedOptions
    %p.user
      %label.hideable
        Created by 
        %a.toggle{:href => '#'} toggle
      %span{:style => "display: none;"}
        = f.select :user_id, User.all.map{|u| [u.name, u.id]}
    %br

