
.span-14.blog.form
  %p.notice
    %strong IMPORTANT:
    The following fields will only be shown while editing the blog
    and in the Feed.
  .title
    %h4 Name
    %p
      = f.text_field :title, :class => 'text'

  = render_partial_from_theme "documents/shared/slug_field", :locals => {:f => f, :document => document}

  .summary 
    %h4 Summary
    %p
      = f.text_area :summary, :class => 'markItUp'

  = render_partial_from_theme "documents/shared/revision_fields", :locals => {:f => f, :document => document}

  %h3 Advanced Options

  .advancedOptions
    .user
      %h4.hideable
        Created by 
        %a.toggle{:href => '#'} toggle
      %span{:style => "display: none;"}
        = f.select :user_id, User.all.map{|u| [u.name, u.id]}

    .revisions
      %h4.hideable
        Revisions
        %a.toggle{:href => '#'} toggle
      %div{:style => "display: none;"}
        = render :partial => 'document_revisions/revisions', :locals => {:document => document}

