%section.collection.span-22{:id => "document_#{document.id}"}

  .main.span-14
    %header.span-14
      = document_actions
      %h2= document.title

      - unless document.summary.blank?
        %p.summary
          :textile
            #{textile_wiki_filter(document.summary)}
            

    %section.span-14
      = document_add_child(@document, :layout => 'collection_item', :title => "Create a new item")

      .items.sortable
        - base = @document.children.layout_is('collection_item').for_current_locale.ordered
        - base = base.published.not_hidden unless current_user_is_editor?
        - @entries = paginate_documents(base)
        - @entries.each do |entry|
          = render_document(entry)

      = will_paginate @entries

  %aside.sideBar.span-8.last
    = document_add_child(@document, :layout => 'side_bar_entry', :title => "Add a new side bar entry")

    .items.sortable
      - base = @document.children.layout_is('side_bar_entry').for_current_locale.ordered
      - base = base.published unless current_user_is_editor?
      - base.each do |entry|
        = render_document(entry)

