%section.collection.span-24{:id => "document_#{document.id}"}

  .main.span-14.prepend-1
    %header.span-14
      %h2= document.title

      - unless document.summary.blank?
        %p.summary
          :textile
            #{textile_wiki_filter(document.summary)}
            
      = render :partial => 'actions', :locals => {:document => @document}

      %section.span-14
        - if current_user_is_editor?
          %ul.sideActions.forNewItems
            %li
              = link_to image_tag('icons/plus.png'), new_document_url(:layout => 'collection_item', :parent_id => @document.id), :class => 'button documentFormAction', :title => "Create a new item"

          - paginate_documents(@document.children.not_published.layout_is('collection_item'), :order => 'position ASC', :limit => 100).each do |entry|
            = render :partial => 'show', :locals => {:document => entry}

        - form_tag sort_documents_url() do
          = hidden_field_tag 'event', 'sort'
        .items.sortable
          - @entries = paginate_documents(@document.children.published.not_hidden.layout_is('collection_item'), :order => 'position ASC')
          - @entries.each do |entry|
            = render :partial => 'show', :locals => {:document => entry}

        = will_paginate @entries

  %aside.sideBar.span-6.last
