
.passwordAuthentication.span-16.prepend-4

  - if flash[:warning]
    .span-16.error
      = flash[:warning]
  
  .span-16
    = label_tag 'email', "Email:" 
    %br
    = text_field_tag 'email', @email, :class => 'span-10 title'

  .span-16
    = label_tag 'password', "Password:"
    %br
    = password_field_tag 'password', nil, :class => 'span-10 title'

    -#  Uncomment this if you want this functionality
      = label_tag 'remember_me', 'Remember me'
      = check_box_tag 'remember_me', '1', @remember_me

  .span-16
    %button{:type => 'submit'}= 'Log in'

  .span-16.alternateLink
    = link_to "Login using OpenID", new_session_url(:regular => nil)
    or
    = link_to "Create a new account", new_user_url

