
.passwordAuthentication.span-16

  - if flash[:warning]
    .error
      = flash[:warning]

  %p
    = label_tag 'email', "Email Address" 
    %br
    = text_field_tag 'email', @email, :class => 'span-6 text'

  %p
    = label_tag 'password', "Password"
    %br
    = password_field_tag 'password', nil, :class => 'span-6 text'

  -#  Uncomment this if you want this functionality
    %p
      = label_tag 'remember_me', 'Remember me'
      = check_box_tag 'remember_me', '1', @remember_me

  %p
    %button{:type => 'submit'}= 'Log in'

