
.span-10.prepend-4
  %section.sessions.passwordAuthentication
    - if flash[:warning]
      .span-10.error
        = flash[:warning]
    
    .span-10
      = label_tag 'email', t('views.session.email') 
      %br
      = text_field_tag 'email', @email, :class => 'span-10 title'

    .span-10
      = label_tag 'password', t('views.session.password')
      %br
      = password_field_tag 'password', nil, :class => 'span-10 title'

      -#  Uncomment this if you want this functionality
        = label_tag 'remember_me', t('views.session.remember_me') 
        = check_box_tag 'remember_me', '1', @remember_me

    .span-10
      %button{:type => 'submit'}= t('views.session.login')

    .span-10.alternateLink
      = link_to t('views.session.login_using_openid'), new_session_url(:regular => nil)
      or
      = link_to t('views.session.create_new_account'), new_user_url

