.documentRevisions.list
  - unless document.new_record?
    %table
      - document.revisions.newest_first.each do |revision|
        %tr
          %td.date= revision.created_at
          %td.comments= revision.comment
          %td.link
            = link_to "rev. #{revision.version}", edit_document_url(document, :document_revision_id => revision.id), :class => 'documentUseRevision'
            %span.confirm{:style => "display: none;"} Are you sure you want to load document from this revision? It will not be saved until you do so, but you will loose all current changes.
          - if current_user_is_admin?
            %td.removeLink
              = link_to 'remove',  document_document_revision_url(document, revision)
              %span.confirm{:style => 'display: none;'}
                = "Are you sure you want to remove the revision #{revision.version}"
