.revisions
  %h4.hideable
    Revisions
    %a.toggle{:href => '#'} toggle
  %div{:style => "display: none;"}
    .documentRevisions.list
      - unless document.new_record?
        %table
          %thead
            %tr
              %th Date
              %th User
              %th Lang
              %th Comment
              %th Revision
              %th &nbsp;

          %tbody
            - document.revisions.newest_first.each do |revision|
              %tr
                %td.date= I18n.localize revision.created_at, :format => '%Y-%m-%d %H:%M'
                %td.user= revision.user ? revision.user.name : ''
                %td.locale= revision.locale.to_s
                %td.comments= revision.comment
                %td.link
                  = link_to_if !revision.minor, "rev. #{revision.version}", edit_document_url(document, :document_revision_id => revision.id), :class => 'documentUseRevision'
                  %span.confirm{:style => "display: none;"} Are you sure you want to load document from this revision? It will not be saved until you do so, but you will loose all current changes.
                - if current_user_is_admin?
                  %td.removeLink
                    = link_to 'remove',  document_document_revision_url(document, revision)
                    %span.confirm{:style => 'display: none;'}
                      = "Are you sure you want to remove the revision #{revision.version}"
