-# Only show actions if admin and document is or belongs to the master document on the page
- draggable = false unless defined?(draggable)
- if current_user_is_editor? && (@document == document || document.parent_id == @document.id)
  %ul.sideActions
    - if draggable
      %li
        %span.dragHandle &nbsp;
    %li
      = link_to 'edit', edit_document_url(document, :parent_id => @document == document ? nil : @document.id), :class => 'button positive documentFormAction', :title => 'Edit Document'
    %li
      - form_for document, :html => {:class => "documentActions"} do |f|
        - if document.published?
          = hidden_field_tag 'event', 'unpublish'
          %button.negative{:type => 'submit', :title => 'Unpublish'}= 'un-publish'
        - else
          = hidden_field_tag 'event', 'publish'
          %button.positive{:type => 'submit', :title => 'Publish'}= 'publish'
    - if document.children.empty? && current_user_is_admin?
      %li
        - form_for document, :html => {:class => "documentActionsConfirm"} do |f|
          = hidden_field_tag '_method', 'delete'
          %button.negative{:type => 'submit', :title => 'Destroy'}= 'destroy'
          %span.confirm{:style => "display: none;"}= "Are you sure you want to send this document to the depths of nothingness, never to be seen again?"

