
.span-14.sideBarEntryForm
  %p
    = f.label :title, 'Title'
    %br
    = f.text_field :title, :class => 'title span-14'

  %p
    = f.label :content
    %br
    = f.text_area :content, :class => 'markItUp'

  %h3 Advanced Options

  %p.user
    = f.label :user_id, "Created by", :class => 'hideable'
    %span{:style => "display: none;"}
      %br
      = f.select :user_id, User.all.map{|u| [u.name, u.id]}

