
.span-14.page.form
  %p.slugOrigin
    = f.label :title, 'Name'
    %br
    = f.text_field :title, :class => 'span-14 text'

  = render_partial_from_theme "documents/shared/slug_field", :locals => {:f => f, :document => document}

  %p
    = f.label :content
    %br
    = f.text_area :content, :class => 'markItUp'

  = form_revision_comment(f, document)

  %h3 Advanced Options
  .advancedOptions
    = form_advanced_options(f, document, :locale, :user)
    = form_revision_history(f, document)

