
.span-14.page.form
  %p
    = f.label :title, 'Title'
    %br
    = f.text_field :title, :class => 'span-14 title'

  %p
    = f.label :content
    %br
    = f.text_area :content, :class => 'markItUp'

  %h3 Advanced Options

  .advancedOptions
    %p.user
      %label.hideable
        Created by 
        %a.toggle{:href => '#'} toggle
      %span{:style => "display: none;"}
        = f.select :user_id, User.all.map{|u| [u.name, u.id]}

    %br
