
.leftSpace.span-2 &nbsp;

.page.span-20{:id => "document_#{document.id}"}

  .documentBody

    %h2= @document.title

    - unless @document.summary.blank?
      %p.summary
        :textile
          #{@document.summary}

    - unless @document.content.blank?
      %p.content
        :textile
          #{@document.content}

    = render :partial => 'actions', :locals => {:document => @document}
