
%article.page.span-24{:id => "document_#{document.id}"}
  .content.span-14.prepend-1
    %header
      = render :partial => 'actions', :locals => {:document => @document}

    :textile
      #{@document.content}

  %aside.sideMenu.span-7.prepend-1
    - parent_doc = @document.parent || @document
    %section
      - if current_user_is_editor? && parent_doc == @document
        %ul.sideActions.forNewItems
          %li
            = link_to image_tag('icons/plus.png'), new_document_url(:layout => 'page', :parent_id => @document.id), :class => 'button documentFormAction', :title => "Create a new sub page"
  
      - form_tag sort_documents_url() do
        = hidden_field_tag 'event', 'sort'
      .items.sortable
        - if current_user_is_editor? && parent_doc == @document
          - paginate_documents(@document.children.not_published.layout_is('page')).each do |entry|
            %article.pageLink
              = link_to entry.title, document_url(entry)
              %hr
              = render :partial => 'actions', :locals => {:document => entry}

        - paginate_documents(parent_doc.children.published.not_hidden.layout_is('page')).each do |entry|
          %article.pageLink
            = link_to entry.title, document_url(entry), :class => (entry == @document ? 'selected' : '')
            %hr
            = render :partial => 'actions', :locals => {:document => entry} if entry != @document


 
