
.span-14.blogEntry.form
  .title.slugOrigin
    %h4= 'Title'
    %p
      = f.text_field :title, :class => 'span-14 title'
  
  = render_partial_from_theme "documents/shared/slug_field", :locals => {:f => f, :document => document}

  .content
    %h4= "Post"
    %p
      = f.text_area :content, :class => 'span-14 markItUp'

  .tags
    %h4= "Tags"
    %p
      = f.text_field :tag_list, :class => 'text'

  = render_partial_from_theme "documents/shared/revision_fields", :locals => {:f => f, :document => document}

  %h3 Advanced Options

  .advancedOptions

    .summary
      %h4.hideable
        Summary 
        %a.toggle{:href => '#'} toggle
      %div{:style => "display: none;"}
        %p
          Include a short extract of the article.
          %br
          = f.text_area :summary, :class => 'span-14' 
          %br
    
    .metadata
      %h4.hideable
        = "Comment Options"
        %a.toggle{:href => '#'} toggle
      %div{:style => "display: none;"}
        = f.check_box 'allow_comments', :checked => document.new_record? ? true : document.allow_comments
        = f.label :allow_comments, "Allow comments"
        %br
        = f.check_box 'allow_pingbacks', :checked => document.new_record? ? true : document.allow_pingbacks
        = f.label :allow_pingbacks, "Allow pingbacks"
        %br

    .published
      %h4.hideable
        Published
        %a.toggle{:href => '#'} toggle
      %div{:style => "display: none;"}
        = f.text_field :published_at
        %br

    .user
      %h4.hideable
        Created by 
        %a.toggle{:href => '#'} toggle
      %div{:style => "display: none;"}
        = f.select :user_id, User.all.map{|u| [u.name, u.id]}
        %br

    .revisions
      %h4.hideable
        Revisions
        %a.toggle{:href => '#'} toggle
      %div{:style => "display: none;"}
        = render :partial => 'document_revisions/revisions', :locals => {:document => document}

