
.span-14.blogEntry.form
  %p.title
    = f.label :title, 'Title'
    %br
    = f.text_field :title, :class => 'span-14 title'

  %p.content
    = f.label :content, "Post"
    %br
    = f.text_area :content, :class => 'span-14 markItUp'

  %p.tags
    = f.label :tag_list, "Tags"
    %br
    = f.text_field :tag_list, :class => 'text'

  %h3 Advanced Options

  %p.summary
    = f.label :summary, "Summary", :class => 'hideable'
    %span{:style => "display: none;"}
      %br
      Include a short extract of the article.
      %br
      = f.text_area :summary, :class => 'span-14' 
  
  %p.metadata
    %label.hideable= "Comment Options"
    %span{:style => "display: none;"}
      %br
      = f.check_box 'allow_comments', :value => document.new_record? ? true : document.allow_comments
      = f.label :allow_comments, "Allow comments"
      %br
      = f.check_box 'allow_pingbacks', :value => document.new_record? ? true : document.allow_pingbacks
      = f.label :allow_pingbacks, "Allow pingbacks"

  %p.published
    = f.label :published_at, "Published", :class => 'hideable'
    %span{:style => "display: none;"}
      %br
      = f.text_field :published_at

  %p.user
    = f.label :user_id, "Created by", :class => 'hideable'
    %span{:style => "display: none;"}
      %br
      = f.select :user_id, User.all.map{|u| [u.name, u.id]}
