
.blogEntry.span-18{:class => document.published? ? 'published' : 'notPublished', :id => "document_#{document.id}"}

  %h3
    = link_to document.title, document_url(document)

  -# unless document.summary.blank?
    .summary
      = text_filter(document.summary)

  - unless document.content.blank?
    .content
      = text_filter(document.content)


  %p.published
    - if document.published?
      Published 
      = time_ago_in_words(document.published_at)
      ago.
    - else
      Not Published!
    - if document.allow_comments or document.allow_pingbacks
      = document.comments.count 
      comments
      
  = render :partial => 'actions', :locals => {:document => document}

  - if @document == document # Viewing a single blog entry!
    .comments
      %h4 Comments
      - if document.comments.count > 0
        - document.comments.each do |comment|
          .comment

      .commentForm



- if @document == document # Viewing a single blog entry!
  .sideBar.span-6.last
    .items
      - paginate_documents(@document.parent.children.published.not_hidden.layout_is('side_bar_entry')).each do |entry|
        = render :partial => 'show', :locals => {:document => entry}




