
.span-14.sideBarEntry.form
  .title.slugOrigin
    %h4= 'Name'
    %p
      = f.text_field :title, :class => 'text span-14'

  = render_partial_from_theme "documents/shared/slug_field", :locals => {:f => f, :document => document}

  .content 
    %h4= 'Content'
    %p
      = f.text_area :content, :class => 'markItUp'

  = render_partial_from_theme "documents/shared/revision_fields", :locals => {:f => f, :document => document}

  %h3 Advanced Options

  .advancedOptions
    .user
      %h4.hideable
        Created by
        %a.toggle{:href => '#'} toggle
      %div{:style => "display: none;"}
        %p
          = f.select :user_id, User.all.map{|u| [u.name, u.id]}

  .revisions
    %h4.hideable
      Revisions
      %a.toggle{:href => '#'} toggle
    %div{:style => "display: none;"}
      = render :partial => 'document_revisions/revisions', :locals => {:document => document}
