!!!
%html
  %head
    = stylesheet_link_tag 'blueprint/screen'
    = stylesheet_link_tag 'blueprint/print', :media => :print
    /[if IE]
      = stylesheet_link_tag 'blueprint/ie'
      = javascript_include_tag "http://html5shiv.googlecode.com/svn/trunk/html5.js"
    = stylesheet_link_tag ['jquery/smoothness/jquery-ui']
    = javascript_include_tag ['jquery', 'jquery-ui', 'jrails', 'application'], :cache => true
    - if logged_in?
      = stylesheet_link_tag ['layout', 'admin']
      = javascript_include_tag 'admin'
      = javascript_include_tag '/markitup/jquery.markitup.pack.js'
      = javascript_include_tag '/markitup/sets/textile/set'
      = stylesheet_link_tag '/markitup/skins/simple/style.css'
      = stylesheet_link_tag '/markitup/sets/textile/style.css'

    %meta{"http-equiv" => "Content-Language", :content => I18n.locale.to_s}

    = render :partial => "themes/#{@current_theme}/layout/head"

  %body{:class => @document.nil? ? '' : "page-#{@document.slug}"}
    .topBackground
    .container
      = render :partial => "themes/#{@current_theme}/layout/header"

      #content.span-24
        = yield

      = render :partial => "themes/#{@current_theme}/layout/footer"

    #dialog.container &nbsp;
    #dialogSpinner{:style => 'display: none;'}
      .spinner
        = image_tag 'spinner-large.gif'

    - if logged_in?
      -# Special form for sorting documents
      - form_tag sort_documents_url, :id => 'sortDocumentsForm' do
        = hidden_field_tag 'event', 'sort'

